<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="modal-header">
    <h3 class="modal-title">Create Folder</h3>
    <button class="pull-right" ng-click="close()">X</button>
</div>
<div class="modal-body">
    <form name="newfolderform">
        <input type="text" ng-model="folderName">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="createFolder(folderName)">Create</button>
</div>

