$fullWidth : 100%;
$fullHeight : 100%;

html,
body{
    margin:auto;
    
}

.bookmark{
   
    height:150px !important;
    text-align:center;
    border : solid 1px #aaa;
    border-radius:20px;
    
    img{
        width: 50px;
        height: 30px;
    }
    
    .actions{
        height:30px;
       
    }
}

.close-btn{
    margin-top: -30px;
}

.center-content{
    margin-left: 40px;
}